:root {
  --primary: #222222;
  --primary-text: #efefef;
  --secondary: #b1000d;
  --secondary-text: #ffffff;
  --accent: #919191;
  --accent-text: #ffffff;
}

.social img {
  width: 32px;
  margin: 0 10px;
  display: inline-block;
}

.countdown {
  margin-top: 1em;
  color: white;
  font-size: 2em;
}