:root {
  --primary: #222222;
  --primary-text: #efefef;
  --secondary: #ee0202;
  --secondary-text: #ffffff;
  --accent: #505050;
  --accent-text: #ffffff;
}

.social img {
  width: 32px;
  margin: 0 10px;
  display: inline-block;
}